<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862258197602-vio3uoo59qcqqta3ijhto6l0ev8uc6h3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862258197602-vio3uoo59qcqqta3ijhto6l0ev8uc6h3</string>
	<key>API_KEY</key>
	<string>AIzaSyAZhzoMGj4d6msojIpX3aGWFsXizGLoGZI</string>
	<key>GCM_SENDER_ID</key>
	<string>862258197602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.drMohamedApp</string>
	<key>PROJECT_ID</key>
	<string>e-learning-app-9071f</string>
	<key>STORAGE_BUCKET</key>
	<string>e-learning-app-9071f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862258197602:ios:2b46c86cf53332a0ce0d3b</string>
</dict>
</plist>